<div class="container">
	<form class="form-inline">
		<div class="form-group">
			<input type="text" class="form-control" name="keyword" placeholder="title:数学 credits>=1">
		</div>
		<button type="submit" class="btn btn-success">Search</button>
	</form>

	<div class="text-center">
		<p><%= [(@page-1) * 25, 1].max %>~<%= [@page * 25, @count].min %> (<%= @count %>件中)</p>
	</div>

	<% @results_by_page.each do |subject| %>
		<a href="/course/detail/<%= subject['code'] %>" class="list-group-item">
			<h3 class="list-group-item-heading"><%= subject['title'] %></h3>
			<p class="list-group-item-text" style="color: #666666"><%= subject['info'].slice(0..50) %>...</p>
			<% unless subject['terms'].blank? %>
				<span class="label label-success pull-xs-right">学期: <%= subject['terms'] %></span>
			<% end %>
			<% unless subject['daytimes'].blank? %>
				<% if subject['daytimes'].size > 30 %>
					<span class="label label-success pull-xs-right"><%= subject['daytimes'].slice(0..20) %>...</span>
				<% else %>
					<span class="label label-success pull-xs-right"><%= subject['daytimes'] %></span>
				<% end %>
			<% end %>
			<% unless subject['credits'].blank? %>
				<span class="label label-success pull-xs-right"><%= subject['credits'] %>単位</span>
			<% end %>
			<% unless subject['instructors'].blank? %>
				<% if subject['instructors'].size > 30 %>
					<span class="label label-primary pull-xs-right">教員: <%= subject['instructors'].slice(0..20) %>...</span>
				<% else %>
					<span class="label label-primary pull-xs-right">教員: <%= subject['instructors'] %></span>
				<% end %>
			<% end %>
			<% unless subject['code'].blank? %>
				<span class="label label-primary pull-xs-right">科目番号: <%= subject['code'] %></span>
			<% end %>
			<% unless subject['location'].blank? %>
				<% if subject['location'].size > 30 %>
					<span class="label label-primary pull-xs-right">教室: <%= subject['location'].slice(0..10) %>...</span>
				<% else %>
					<span class="label label-primary pull-xs-right">教室: <%= subject['location'] %></span>
				<% end %>
			<% end %>
		</a>
	<% end %>
	</ul>

	<div class="text-center">
		<%= paginate @results_by_page%>
	</div>
</div>
</div>
